<div class = "container">
  <div class = "row">
    <div class = "col-md-12">
      <h1 class = "text-center m-2"> Privacy Policy </h1>
      <p> This Privacy Policy establishes the terms in which the page uses and protects the information that is provided by its users. When you ask to fill in the fields of personal information with which you can be identified, it is done ensuring that it will only be used in accordance with the terms of this document. </p>
      
      <h4> Information that is collected </h4>
      
      <p> The website may collect personal information such as: Name, contact information such as your email address etc. Likewise, when necessary, specific information may be required to process an order or make a delivery or billing. </p>
      
      <h4> Use of collected information </h4>
      
      <p> The website uses the information in order to provide the best possible service, particularly to keep a record of users, orders, if applicable, and improve the products and services provided on this website. </p>
      
      <h4> Cookies </h4>
      
      <p> Google uses cookies to determine which ads will be displayed on the pages of this Blog, when a user accesses this website, Google may save a cookie on their browser. </p>
      
      <ul>
          <li> Providers, including Google, use cookies to display relevant ads based on a user's previous visits to their website or other websites. </li>
          <li> The use of advertising cookies allows Google and its partners to display ads based on visits made by users to their websites or to other websites on the Internet. </li>
          <li> Users can disable personalized advertising. To do this, they must access <a href="https://www.google.com/settings/ads" target="_blank"> Ads preferences </a>. </li>
      </ul>
      
      <p> This website also uses cookies, both its own and those of third parties, to collect statistical information about browsing and show you advertising related to your preferences. </p>
      
      <p> You have the possibility of deactivating or eliminating cookies, for this each browser has its own mechanisms. </p>
      
      <h4> Links to Third Parties </h4>
      
      <p> This website may contain links to other sites that may be of interest to you. Once you click on these links and leave this website, we will no longer have control over the site to which you are redirected and therefore we will not be responsible for the terms or privacy or the protection of your data on those other sites. These sites are subject to their own privacy policies, so it is recommended that you consult them to confirm that you agree with them. </p>
      
      <h4> Control of your personal information </h4>
      
      <p> At any time you can restrict the collection or use of the personal information that is provided on this site. Each time you are asked to fill out a form, such as registering, you can check or uncheck the option to receive information by email. In case you have marked the option to receive an advertising newsletter, you can cancel it at any time. </p>
      
      <p> In no case will the personal information that is collected be sold, transferred or distributed. </p>
    </div>
  </div>
</div>