<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center m-2">Política de privacidad</h1>
        <p>La presente Política de Privacidad establece los términos en que la página usa y protege la información que es proporcionada por sus usuarios. Cuando se pide llenar los campos de información personal con la cual usted puede ser identificado, se hace asegurando que sólo se empleará de acuerdo con los términos de este documento.</p>
        
        <h4>Información que es recogida</h4>
        
        <p>El sitio web podrá recoger información personal por ejemplo: Nombre,  información de contacto como su dirección de correo electrónico etc. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación.</p>
        
        <h4>Uso de la información recogida</h4>
        
        <p>El sitio Web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que se aplique, y mejorar los productos y servicios proporcionados en esta Web.</p>
        
        <h4>Cookies</h4>
        
        <p>Google utiliza cookies para determinar qué anuncios se mostrarán en las páginas de este Blog, cuando un usuario accede a este sitio web, puede que Google se guarde una cookie en su navegador.</p>
        
        <ul>
            <li>Los proveedores, incluido Google, utilizan cookies para mostrar anuncios relevantes ateniéndose las visitas anteriores de un usuario a su sitio web o a otros sitios web.</li>
            <li>El uso de cookies de publicidad permite a Google y a sus socios mostrar anuncios basados en las visitas realizadas por los usuarios a sus sitios web o a otros sitios web de Internet.</li>
            <li>Los usuarios pueden inhabilitar la publicidad personalizada. Para ello, deberán acceder a <a href="https://www.google.com/settings/ads" target="_blank">Preferencias de anuncios</a>.</li>
        </ul>
        
        <p>Este sitio web también usa cookies, tanto propias como de terceros para recopilar información estadística sobre la navegación y mostrarle publicidad relacionada con sus preferencias.</p>
        
        <p>Tiene la posibilidad de desactivar o eliminar la cookies, para ello cada navegador tiene sus propios mecanismos.</p>
        
        <h4>Enlaces a Terceros</h4>
        
        <p>Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que usted haga clic en estos enlaces y abandone esta Web, ya no poseeremos el control sobre el sitio al que es redirigido y por lo tanto no seremos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.</p>
        
        <h4>Control de su información personal</h4>
        
        <p>En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada en este sitio.  Cada vez que se le solicite rellenar un formulario, como darse de alta, puede marcar o desmarcar la opción de recibir información por correo electrónico.  En caso de que haya marcado la opción de recibir un boletín de publicidad usted puede cancelarla en cualquier momento.</p>
        
        <p>En ningún caso se venderá, cederá ni distribuirá la información personal que es recopilada.</p>         
      </div>
    </div>
  </div>