<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-4 diy-link" 
                     v-for="(item, index) in categories" :key="index">
                        <router-link :to="{ name: index}">
                            <ul class="list-group mt-2 mb-2">
                                <li class="list-group-item list-group-item-primary">
                                    <h3 class="text-center">{{ item[languageTag] }}</h3>
                                </li>
                            </ul>
                        </router-link>
                </div>
            </div>
        </div>
    </div>
</div>