<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Bar sabadell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav" v-if="data && data.selectedLanguagesText && data.languages">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLanguages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-language"></i>
            {{ data.selectedLanguagesText[languageTag] }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownLanguages">
            <div v-for="(item, index) in data.languages[languageTag]" :key="index">
              <a class="dropdown-item" href="#" @click="changeLanguage(index)">{{ item }}</a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" v-if="data && data.categoriesText && data.categories">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ data.categoriesText[languageTag] }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
            <div class="diy-link" v-for="(item, index) in data.categories" :key="index">
              <router-link :to="{ name: index}">
                <span class="dropdown-item" href="#">
                  {{ item[languageTag] }}
                </span>
              </router-link>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>