.diy-card:hover {
    box-shadow: 15px 5px 30px hsl(0deg 0% 60% / 30%);
}

.link, .link:hover {
    color: black;
    text-decoration: none !important;
}

.privacity-container {
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 9999;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
}